@import "styles/utils/variables";

.CookiesAcceptComponent {
  //transform: translate(-50%, 0%);
  @media (min-width: $xxl) {
    left: 5rem;
  }
  @media (min-width: $xl) {
    left: 4rem;
  }
  @media (min-width: $lg) {
    left: 3rem;
  }
  @media (min-width: $md) {
    left: 2rem;
  }
  @media (min-width: 0px) {
    left: 1.25rem;
  }
}