@import "~tailwindcss/base";
@import "~tailwindcss/utilities";
@import "~tailwindcss/components";
@import "fonts";
@import "mixins";
@import "variables";

:root {
  --pink: #f96f6f;
  --dark: #212121;
  --spring: #f8f6f2;
  --orange: #f9bf6f;
  --orange-15: rgba(249, 191, 111, 0.1);
  --white: #FFFFFF;
  --grey: #edebe7;
  --dove-grey: #646464;
}

input, textarea {
  @include TextFieldPlaceholderColorMixin(var(--dove-grey));
}

video {
  border: none;
  object-fit: cover;
}

.size-full {
  width: 100% !important;
  height: 100% !important;
}

.vjs-fluid {
  width: 100% !important;
  height: 100% !important;
}

* {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

button {
  background: transparent;
  border: 0;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: auto;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: var(--dark);
  background: var(--spring);
}

main, #__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

textarea, select, input, button {
  outline: none;
}

button, input, textarea {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.font {
  @include GlobalFontFamily;
}

.full-height {
  @include FullHeightSectionStyles;
}

.rounded-32 {
  border-radius: 32px;
}

.rounded-l-32 {
  border-radius: 32px 0 0 32px;
}

.list-circle {
  list-style: disc !important;
}

.ml-1 {
  margin-left: 1.5rem !important;
}

.mv-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

li {
  display: list-item;
}

.ck.ck-editor {
  width: 100% !important;
}

.ck-editor {
  border: 0 !important;
}

.ck-toolbar {
  border-radius: 0.375rem 0.375rem 0 0 !important;
  background: #fff !important;
}

.ck-content {
  border-radius: 0 0 0.375rem 0.375rem !important;
  min-height: 150px !important;
}

.ck-content, .ck-toolbar {
  border: 1px solid #E2E8F0 !important;

  &:focus {
    box-shadow: none !important;
  }
}

.ck.ck-button .ck.ck-tooltip {
  display: none;
}

.ck .ck-balloon-panel {
  z-index: 99999 !important;
}

.ck .ck-content {
  max-height: 30vh;
}

.dragged {
  border-color: var(--orange);
  background: rgba(249, 191, 111, 0.3);
}

a {
  color: #2258a0;
}

.lh-128 {
  line-height: 128%;
}

.element-shadow-hover {
  &:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.125);
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.125);
  }
}

h2 {
  font-size: 48px;
}