.MessagesComponent {
  width: 30%;
  left: 0;
  margin: auto;
  position: fixed;
  bottom: 30px;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  @media (max-width: 650px) {
    width: 90%;
    bottom: 15px;
  }
}